@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #333335;
}

/* image slide show */

.slideshow {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.navigation {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

img {
  max-width: 1000x;
}

input[name='r'] {
  position: absolute;
  display: none;
}

.slides {
  width: 300%;
  height: 99%;
  display: flex;
  animation: slider 6s ease-in-out infinite;
}

.slide {
  width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0%;
}

#r2:checked ~ .s1 {
  margin-left: -33.3%;
}

#r3:checked ~ .s1 {
  margin-left: -66.54%;
}

/* animating slides */

@keyframes slider {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }
  43.3% {
    margin-left: -100%;
  }
  86.54% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0%;
  }
}

/* image slide show */

/* content */
.content {
  margin: 20px;
  padding: 20px;
  overflow: hidden;
}

.icons {
  height: 10vh;
  color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  color: #333335;
}

.icons a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #333335;
  padding: 10px;
}
.icons i {
  font-size: 2.675em;
}
.icons p {
  font-weight: 600;
}

.rankHead {
  display: flex;
  justify-content: space-between;
}
.rankHead #top {
  font-weight: 900;
}

.rankHead a {
  text-decoration: none;
  font-size: 1.675em;
  color: #333335;
}

.top-ranking .topItems {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0;
}

.rankCatalogue {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}
.rankCatalogue i {
  /* position: absolute; */
}
.rankCatalogue .img {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* max-height: 400px; */
}

.rankCatalogue .img img {
  width: 100%;
  height: 90%;
}
